//////////////////////////////////////////////////////////////////////
//
//     Thumbnail SCSS
//      - Styles for thumbnail interactive
//
//////////////////////////////////////////////////////////////////////

.thumbnail {
  border: 0;
  border-radius: 0;
  position: relative;
  height: 100%;
  padding: 0;
  cursor: pointer;
  margin-bottom: 2px;
  > a {
    text-decoration: none;
  }
}

.img-container {
  /*overflow: hidden;
  width: 100%;
  position: relative;
  background: transparent;*/
  box-shadow: 0 0px 40px rgba(0, 0, 0, 0.4);
}

.thumbnail {
  .img-zoom {
    /*position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;*/
    width: 100%;
  }
  &:hover .img-zoom {
    /*-webkit-animation: kenburns .1s 1 linear forwards;
    -moz-animation: kenburns .1s 1 linear forwards;
    -o-animation: kenburns .1s 1 linear forwards;
    animation: kenburns .1s 1 linear forwards;*/
  }
  .caption {
    padding: 0;
    margin: 0;
    p {
      font-size: 15px;
      text-align: center;
    }
  }
  .caption-title {
    display: table;
    height: 80px;
    width: 100%;
    background-color: #fff;
    opacity: .9;
    padding: 0 20px;
    box-shadow: 0 0.5px 40px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    > span {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 600;
      color: #2b2b2b;
    }
  }
  .caption {
    h3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 80px;
      color: #fff;
      padding: 0 20px;
      margin: 1px;
      height: 80px;
      background-color: #2b2b2b;
      > span {
        font-weight: 100;
        font-size: 50px;
      }
      &.clicked {
        color: #2b2b2b;
        -webkit-animation-name: ctr-clicked;
        animation-name: ctr-clicked;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }
      &::before {
        /*content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;*/
      }
    }
    h4 {
      &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
      }
      text-align: center;
      padding: 0 20px;
      height: 110px;
      background-color: #2b2b2b;
      > span {
        display: inline-block;
        vertical-align: middle;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #fff;
      }
    }
  }
}


.videoAudio{
  h4{
    color: red;
    padding-top: 5px;
    margin: 0;
  }

  p{
    margin: 0;
  }
}
