/*----------- BUTTON STYLES -----------*/
.btn {
  padding: 10px 16px;
  border-radius: 0;
}

/*Default Button*/
.btn-default {
  font-family: 'GMGlobalSansCond';
  font-size: 20px;
  border: 2px solid $primary;
  background-color: $primary;
  color: #ffffff !important;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  background-color: #fff;
  border-color: $primary;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  color: $primary !important;
}
