nav.navbar{
  padding: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background: $primary !important;

  .nav-header{
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: flex-start;

    .navbar-toggler{
      border: none;
      top: -5px;
      position: relative;

      &:active, &:focus{
        outline: none;
      }
    }

    .title{
      background:none;

      .titleMain{
        font-weight: 100;
        font-size: 28px;
        color: #fff;
        line-height: 50px;
        text-transform: uppercase;
      }

      .titleSub{
        font-weight: 600;
        font-size: 28px;
        color: #fff;
        line-height: 0px;
        text-transform: uppercase;
      }
    }
  }

  .navbar-collapse{
    margin: 0;
    padding: 0;
    background: #fff;
    width: 100%;


    .navbar-nav{
      margin: 0 auto;
      background: #fff;
      text-align: center;
      width: 100%;
      display: flex;

      .nav-item{
        flex: 1;
      }
    }
  }
}

.nav-item{
  cursor: default;
  display: inline-block;
  font-weight: 600;
  height: 50px;
  position: relative;
  padding: 0px 0px 0px 10px !important;
  font-size: 14px;
  border-bottom: 3px solid transparent;

  &.courseTitleChapterSelected{
    border-bottom: 3px solid $primary;
  }

  &:not(:first-child):after {
    content: "/";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    font-weight: 100;
    font-size: 30px;
    color: $primary;
  }

  .nav-link{
    color: $primary !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    line-height: 15px;
  }
}

.nav-item{
  .dropdown {
    button {
      cursor: default !important;
      background: none;
      color: $primary;
      outline: none;
      border: none;
      font-weight: 600;
      font-size: 14px;
      line-height: 28px;

      &:active, &:focus{
        border: none;
        outline: none;
        box-shadow: none !important;
        background: none !important;
        color: $primary !important;
      }
    }

    .dropdown-menu{
      width: 100%;
      box-shadow: none;
      border: none;
      background: none;
      left: -12% !important;
      top: -12px !important;


      button{
        width: 100%;
        text-align: center;
        background: none;
        font-weight: 100;
        background: #eee;

        &:hover{
          background: #e2e2e2;
        }

        &:active, &:focus{
          background: #eee !important;
        }
      }
    }
  }
}

@media(max-width: 767px){
  .nav-item{
    &.courseTitleChapterSelected{
      border-bottom: 3px solid transparent;
      background: $primary;
      .nav-link{
        color: #fff !important;
      }

      .dropdown > button{
        color: #fff !important;
      }
    }

    &:not(:first-child):after {
      content: "";

    }
  }

  .nav-item{
    .dropdown {
      button {

        &:active, &:focus{
          border: none;
          outline: none;
          box-shadow: none !important;
          background: none !important;
          color: $primary !important;
        }
      }

      .dropdown-menu{
        width: 100%;
        box-shadow: none;
        border: none;
        background: none;
        position:  !important;
        left: 0 !important;
        top: 0 !important;


        button{
          width: 100%;
          text-align: center;
          background: none;
          font-weight: 100;
          background: #eee;

          &:hover{
            background: #e2e2e2;
          }

          &:active, &:focus{
            background: #eee !important;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  nav.navbar{
    .nav-header{
      .title{
        .navbar-toggler{
          top: 0px;
        }

        .titleMain{
          font-size: 16px;
        }

        .titleSub{
          font-size: 16px;
        }
      }
    }
  }
}
