.splash{
  background-image: url("bg_completion.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  .header{
    padding: 10px;
    max-width: 500px;
    position: relative;
    margin-left: 10%;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);


    h3{
      font-size: 25px;
    }

    h1{
      font-size: 29px;
    }

    p{
      font-size: 23px;
      font-weight: 100;
    }
  }
}

@media (max-width: 400px) {
  .splash{
    .header{

      margin-left: 20px;

    }
  }
}
