//////////////////////////////////////////////////////////////////////
//
//     SPLASH SCSS
//      - Styles for splash page
//
//////////////////////////////////////////////////////////////////////

#splashPageModal {
  .col {
    margin-left: 60px;
    margin-top: 30px;
  }

  .btn {
    width: 50%;
  }

  h1 {
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 0px;
  }
}

h3 {
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 0px;
}

#splashPageModal {
  h3 {
    font-weight: 400;
  }
  p
  {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  &.modal {
    background-color: #fff;
  }

  .modal-dialog {
    width: auto;
    margin: 0 auto;
  }
}

/* SPLASH PAGE MODAL */

.splash-page {
  padding-top: 0;
  img {
    cursor: pointer;
  }
}

#splashPageModal {
  .modal-dialog{
    max-width: none !important;
    //background-image: url('../view/media/img/bg_completion.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
  }
  .modal-dialog .modal-content {
    background: none;
    max-width: 1000px;
    margin: 0 auto;
    height: 100vh;
  }

  .splashTitle {
    margin: 0;
    top: 40%;
    position: absolute;
    transform: translateY(-50%);
    padding: 0 0 0 60px;
  }
}

@media (max-width: 900px) {
  #beginCourse {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  #splashPageModal .splashTitle {
    margin: 0;
    padding: 30px;
  }
}
